* {
  margin: 0px;
  padding: 0px;
}

/*--------------------- Navbar.---------------------------- */
.navbar {
  width: 100%;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navbar ul li {
  position: relative;
  right: 80px;
  left: px;
  list-style: none;
  display: inline-block;
  margin: 15px 0px 0px 50px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

li::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: #3700ff;
  display: block;
  transition: .3s ease-in-out;
}

li:hover:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: rgb(255, 0, 0);
  display: block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#button {
  position: absolute;
  right: 10px;
  top: 25px;
  padding: 4px 10px 4px 10px;
  background-color: rgb(243, 1, 1);
  border-radius: 20px;
  border-color: white;
  transition: transform .4s;
  border-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 0px;
  color: aliceblue;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#button:hover {
  transform: scale(1.1);
}

.banner {
  width: 100%;
  height: 135vh;
  background-image: url(img/bg1.png);
  background-position: center;
  background-size: cover;
}

.content1 {
  top: 50%;
  position: absolute;
  right: 50%;
  left: 8%;

}

/* Content */
h4 {
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 170%;
}

h2 {
  margin: -1px;
  margin-top: -30px;
  margin-bottom: auto;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 600%;
}

#namste {
  font-size: 106%;
  font-family: 'Kalam', cursive;
  font-weight: 400;
  color: rgb(255, 0, 0)246, 255;
}

.content1 {
  background-color: black;
}

/*.animation {
  background-color: blue;
  position: relative;
  animation-name: nuralcode;
  animation-duration: 8s;
  animation-iteration-count: 3;
}

@keyframes nuralcode {
  from {
    width: 200px;
  }

  to {
    width: 400px;

  }
} */

span {
  color: red;
}

/*--------------------- Services ---------------------------- */

.back2 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}

/* .image{
  background-image: url(img/image2.png);
  width: 100vh;
  height: 100%;
} */
#head1 {
  margin: 0px 0px 0px 0px;
  padding: 60px 12% 1px 12%;
  position: relative;
  top: 120%;
  color: aliceblue;
  font-size: 450%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-align: center;

}

/* -----card 1 -------*/
.cardfirst {
  position: absolute;
  top: 190%;
  right: 67%;
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.cardsecond {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}


.cardsecond {
  transform: scale(0.98);
  border-radius: 20px;
}

.cardfirst:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/* ISSUE */

/* -----card 2------- */
.subcardfirst {
  position: absolute;
  right: 37%;
  top: 190%;
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.subcardsecond {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.subcardsecond {
  transform: scale(0.98);
  border-radius: 20px;
}

.subcardfirst:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}


/* -----card 3-------*/
.card1 {
  position: absolute;
  top: 190%;
  right: 8%;
  width: 300px;
  height: 313px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 300px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.card2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.card1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/* -----card 4-------*/

/* .subcard1 {
  position: absolute;
  top: 190%;
  left: 75%;
  width: 250px;
  height: 313px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.subcard2 {
  width: 250px;
  height: 313px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.subcard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.subcard1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
} */

/* ISSUE 1*/

/*--------------------- Github ---------------------------- */
/* IISUE 2 */
.back3 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}

.backgroundbuttoncard1 {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 275%;
  width: 39rem;
  height: 27rem;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;

}

.backgroundbuttoncard2 {
  width: 39rem;
  height: 27rem;
  background-image: url(img/github.png);
  background-size: 39rem 27rem;
  border-radius: 19px;
  transition: all .2s;
}

.backgroundbuttoncard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.backgroundbuttoncard1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/* IISUE 2 */

.contentlorem1 {
  position: absolute;
  top: 275%;
  left: 6%;
  color: aliceblue;
  font-size: 370%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-right: 50%;
  padding-bottom: 50%;
}

/* ----------about-------------- */

.banner2 {
  background-image: url(img/banner3.png) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 125vh;
}

/* .banner {
  width: 100%;
  height: 135vh;
  background-image: url(img/bg1.png);
  background-position: center;
  background-size: cover;
} */ 
/* for-demontration */

.contentlorem2 {
  position: absolute;
  top:465%;
  right: 8%;
  color: aliceblue;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 50%;
  text-align: right;
}

/* -----card 3-------*/
.piyushdwivedicard1 {
  position: absolute;
  top: 400%;
  right: 35%;
  width: 300px;
  height: 350px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.piyushdwivedicard2 {
  width: 300px;
  height: 350px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.piyushdwivedicard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.piyushdwivedicard1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/* -----card 4-------*/

.paraskamdarcard1 {
  position: absolute;
  top: 400%;
  right: 7%;
  width: 300px;
  height: 350px;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.paraskamdarcard2 {
  width: 300px;
  height: 350px;
  background-color: #000000;
  border-radius: 19px;
  transition: all .2s;
}

.paraskamdarcard2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.paraskamdarcard1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}

/*--------------------- caontact us ---------------------------- */

.back5 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 120vh;
}


.contactus1 {
  position: absolute;
  left: 8%;
  top: 525%;
  width: 43rem;
  height: 27rem;
  background-image: linear-gradient(163deg, #ff0000 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;

}

.contactus2 {
  width: 43rem;
  height: 27rem;
  background-color: #000000;
  background-size: 39rem 27rem;
  border-radius: 19px;
  transition: all .2s;
}

.contactus2 {
  transform: scale(0.98);
  border-radius: 20px;
}

.contactus1:hover {
  box-shadow: 0px 0px 30px 1px rgb(255, 0, 0);
}


/*--------------------- footer ---------------------------- */

.back6 {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 50vh;
}